@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.f-p {
  font-family: 'Poppins', sans-serif;
}

.f-m {
  font-family: 'Montserrat', sans-serif;
}

.f-a {
  font-family: 'Averia Libre', cursive;
}

@layer components {
  .card {
    @apply border border-gray-200 p-6 rounded-md cursor-pointer hover:scale-105 transition;
  }
}
